.map__inner {
  margin-top: 75px;
  margin-bottom: 74px;
}

.map__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.map__hr {
  margin: 0;
  height: 3px;
  background-color: #710707;
  margin-bottom: 75px;
}

.map__inner-content {
  display: flex;
  justify-content: space-between;
}

.map__inner-content-box {
  display: flex;
  flex-direction: column;
}

.map__inner-content-box-title {
  width: 227px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.map__inner-content-box-link {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.map__inner-content-link-img {
  width: 960px;
  height: 620px;
}

@media only screen and (max-width:1300px) {

  .map__inner-content-link-img {
    width: 694px;
    height: 454px;
  }
}

@media only screen and (max-width:1020px) {

  .map__inner-content {
    flex-direction: column;
  }
}

@media only screen and (max-width:940px) {

  .map__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:715px) {

  .map__inner-content-link-img {
    width: 580px;
    height: 348px;
  }
}

@media only screen and (max-width:615px) {

  .map__inner-content-link-img {
    width: 480px;
    height: 298px;
  }
}

@media only screen and (max-width:460px) {

  .map__title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width:515px) {

  .map__inner-content-link-img {
    width: 380px;
    height: 248px;
  }
}

@media only screen and (max-width:400px) {

  .map__inner-content-link-img {
    width: 280px;
    height: 208px;
  }
}